[Desktop Entry]
Encoding=UTF-8
Name=DynamicCoin
Comment=DynamicCoin P2P Cryptocurrency
Comment[fr]=DynamicCoin, monnaie virtuelle cryptographique pair à pair
Comment[tr]=DynamicCoin, eşten eşe kriptografik sanal para birimi
Exec=dynamiccoin-qt %u
Terminal=false
Type=Application
Icon=dynamiccoin128
MimeType=x-scheme-handler/dynamiccoin;
Categories=Office;Finance;
